# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt

    twitter.access:
        oauth_access_token: ~
        oauth_access_token_secret: ~
        consumer_key: ~
        consumer_secret: ~

    twitter.queries:
        - ~